* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#button {
  background: #237bb3;
  border-radius: 20px;
  text-shadow: 3px 2px 1px #5a6fc2;
  font-family: Arial;
  color: #fafafa;
  font-size: 15px;
  padding: 19px;
  text-decoration: none;
}

.title {
  background: #4d4ea3;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  background: #889ccf;
  margin: 0 0 0px;
  overflow: hidden;
  padding: 50px;
}

h1 {
  color: rgb(229, 231, 235);
  margin-left: 1rem;
}

.col-2 {
  display: flex;
  flex-direction: row;
  height: 25rem;
}

.code-jj {
  background: #e8f2f8;
  padding: 1rem;
  resize: none;
  outline: none;
  height: 100%;
  width: 50vw;
  border: 1px solid black;
}

.generate {
  background: #e8f2f8;
  border: 1px solid black;
  height: 100%;
  width: 50vw;
}

.col-3 {
  background: #e8f2f8;
  display: flex;
  flex-direction: row;
  height: 25rem;
  background: #e8f2f8;
}

.show {
  padding: 1rem;
  width: 50vw;
  border: 1px solid rgb(7, 5, 5);
  overflow-y: scroll;
}
